@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}
body{
    text-align: center;
    background-color: white;
    font-family: var(--fonte-padrao);
}
nav {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    text-align: center;

}
a.link{
    border: 5px solid black;
}
header{
    background-color: rgba(39, 255, 230, 0.492);
    border-radius: 10px;
}
nav a {
    border: 5px 5px 5px black;
    color:black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav a:hover {
    background-color: royalblue;
    color: cyan;
}
aside {
    text-align: center;
    background-color: rgb(201, 201, 201);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}
main {
    text-align: justify;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-radius: 10px;
}