@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.contexto{
    display: flex;
    justify-content: center;
}
input{
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
input:hover{
    transition:1s;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
textarea{
    width: 500px;
    height: 400px;
}
