@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

body{
    background-color: rgb(227, 227, 227);
    text-align: center;
    font-family: var(--fonte-padrao);
}

nav {
    background-color: rgb(216, 220, 254);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    text-align: center;

}

header{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    transform: translate(0%,0%);
}
nav a {
    margin: 10px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 1s;
    background-color: rgba(0, 26, 255, 0.501);
}

nav>a:hover {
    background-color: rgba(172, 255, 47, 0.604);
    color: white;
}
nav:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
aside {
    background-color: rgba(0, 0, 0, 0.429);
    text-align: center;
    color: rgb(190, 190, 190);
    padding: 10px;
    border-radius: 10px;
}
aside:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}

main > aside{
    color: black;
    background-color: rgba(255, 255, 255, 0.59);
    border: none;
    text-align: justify;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.688);
}