@charset "UTF-8";
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: black;
}
a{
    text-decoration: none;
    
}
input{
    padding: 5px;
}